
   <label class="variant__label" style="margin-right: 42px;     margin-top: 4px;">
        {%- if 
            product.tags contains "Tennis Bracelet" or product.tags contains "Fashion Bracelet" or product.tags contains "Anklets" or 
            product.tags contains "Bangles" or product.tags contains "Men's Necklace"  or product.tags contains "Men's Bracelet" or 
            product.tags contains "Solitaire Pendant" or product.tags contains "Fashion Pendant" or product.tags contains "Tennis Necklace" or 
            product.tags contains "Fashion Necklace" or product.tags contains "col_Initials" or product.tags contains "col_Zodiac"
        -%}
        {%- comment -%}
        {%- if
           product.tags contains "Men's Necklace" or product.tags contains "Solitaire Pendant" or product.tags contains "Fashion Pendant" or 
           product.tags contains "Tennis Necklace" or product.tags contains "Fashion Necklace" or 
           product.tags contains "col_Initials" or product.tags contains "col_Zodiac" 
        -%}
        {%- endif -%}
        {%- endcomment -%}
        {%- if product.tags contains 'Tennis Bracelet' or product.tags contains "Fashion Bracelet"  or product.tags contains "Men's Bracelet" or product.tags contains "Bangles" -%}Bracelet{% else %}Necklace{% endif %} Length (Inches)
            {%- if product.tags contains 'Tennis Bracelet' or product.tags contains "Fashion Bracelet"  or product.tags contains "Men's Bracelet" or product.tags contains "Bangles" -%}
              {%- assign inline_size_name = "Bracelet Length (Inches)" -%}
            {%- else -%}
              {%- assign inline_size_name = "Necklace Length (Inches)" -%}
            {%- endif -%}
        {%- else -%} 
            Ring Size
            {%- assign inline_size_name = "Ring Size" -%}
        {%- endif -%}
    </label>

        <span class="single-size-opt-label hide"></span>
        <select 
        title="Ring Size Selector"
        form="{{ form_id }}"
        id="ring_size_dropdown_option111"
        class="ring_size_dropdown SingleOptionSelector-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}"
        name="items[1][properties][{{ inline_size_name }}]"
        style="width:146px; height: 40px;"
        oninvalid="this.setCustomValidity('Please select a size')" oninput="setCustomValidity('')"
        required
        >
            <option value="" disabled selected>--</option>
            <option value="4.00" class="variant-input">4.00</option> 
            <option value="4.25" class="variant-input">4.25</option> 
            <option value="4.50" class="variant-input">4.50</option> 
            <option value="4.75" class="variant-input">4.75</option> 
            <option value="5.00" class="variant-input">5.00</option> 
            <option value="5.25" class="variant-input">5.25</option> 
            <option value="5.50" class="variant-input">5.50</option> 
            <option value="5.75" class="variant-input">5.75</option> 
            <option value="6.00" class="variant-input">6.00</option> 
            <option value="6.25" class="variant-input">6.25</option> 
            <option value="6.50" class="variant-input">6.50</option> 
            <option value="6.75" class="variant-input">6.75</option> 
            <option value="7.00" class="variant-input">7.00</option> 
            <option value="7.25" class="variant-input">7.25</option> 
            <option value="7.50" class="variant-input">7.50</option> 
            <option value="7.75" class="variant-input">7.75</option> 
            <option value="8.00" class="variant-input">8.00</option> 
            <option value="8.25" class="variant-input">8.25</option> 
            <option value="8.50" class="variant-input">8.50</option> 
            <option value="8.75" class="variant-input">8.75</option> 
            <option value="9.00" class="variant-input">9.00</option>
            {%- if form_id and form_id == 'addToCartButtonRingReview' -%}<option value="9.50" class="variant-input">9.50</option>{%- endif -%}
        </select>
  
    {%- unless 
        product.tags contains "Tennis Bracelet" or product.tags contains "Fashion Bracelet" or product.tags contains "Anklets" or 
        product.tags contains "Bangles" or product.tags contains "Men's Necklace"  or product.tags contains "Men's Bracelet" or 
        product.tags contains "Solitaire Pendant" or product.tags contains "Fashion Pendant" or product.tags contains "Tennis Necklace" or 
        product.tags contains "Fashion Necklace" or product.tags contains "col_Initials" or product.tags contains "col_Zodiac"
    -%}
    {%- comment -%}
    {%- unless
       product.tags contains "Men's Necklace" or product.tags contains "Solitaire Pendant" or product.tags contains "Fashion Pendant" or 
       product.tags contains "Tennis Necklace" or product.tags contains "Fashion Necklace" or 
       product.tags contains "col_Initials" or product.tags contains "col_Zodiac" 
    -%}{% endunless %} {%- endcomment -%}
        <div role="button" tabindex="0" id="ring-sizer" data-store_code="von-diamonds">Find your Ring Size</div>
    {%- endunless -%}

