{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}

    {% form 'customer', class: 'newsletter-form' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <input type="text" name="contact[first_name]">
                    <input type="text" name="contact[last_name]">
                    <input type="date" name="contact[note][Birthday]" >
                    <input type="date" name="contact[note][Anniversary]">
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      {% render 'icon-arrow' %}
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="Newsletter-success--{{ section.id }}"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {% endform %}



    
    {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      
        <div class="appointment-page-form">
            {%- if section.settings.heading != blank -%}
              <h3>{{ section.settings.heading }}</h3>
            {%- endif -%}
			<div class="grid grid--2-col-desktop grid--1-col-tablet-down">
				<div class="grid__item">
					<div class="field">
						<input type="text" id="first-name" name="contact[First Name]" placeholder="* First Name" class="field__input" />
						<label class="field__label" for="first-name">* First Name</label>
					</div>
				</div>
				<div class="grid__item">
					<div class="field">
						<input type="text" id="last-name" name="contact[Last Name]" placeholder="* Last Name" class="field__input" />
						<label class="field__label" for="last-name">* Last Name</label>
					</div>
				</div>
				<div class="grid__item">
					<div class="field">
						<input type="email" id="email" name="contact[email]" placeholder="* Email" class="field__input" />
						<label class="field__label" for="email">* Email</label>
					</div>
				</div>
				<div class="grid__item">
					<div class="field">
						<input type="number" id="telephone" name="contact[Telephone]" placeholder="* Telephone" class="field__input" />
						<label class="field__label" for="telephone">* Telephone</label>
					</div>
				</div>
			</div>
			<div class="grid grid--2-col-desktop grid--1-col-tablet-down">
				<div class="grid__item">
					<div class="grid grid--1-col-desktop grid--1-col-tablet-down">
						<div class="grid__item">
							<div class="appointment-page-regarding fullwhbox">
								<div class="form-check">
									<input class="form-check-input" name="contact[Press Request]" type="checkbox" value="Press Request" id="pressrequest" /> 
									<label class="form-check-label" for="pressrequest">Press Request</label>
								</div>
							</div>
						</div>
						<div class="grid__item">
							<div class="field">
								<input type="text" name="contact[Contact Subject]" id="text" placeholder="* Subject" class="field__input" />
								<label class="field__label" for="subject">* Subject</label>
							</div>
						</div>
					</div>
				</div>
				<div class="grid__item">
					<div class="appointment-page-regarding">
						<h3>Regarding:</h3>
						<div class="loop">
							<ul>
								<li>
									<div class="form-check">
										<input class="form-check-input" name="contact[Regarding_Wedding Ring]" type="checkbox" value="Wedding Ring" id="weddingring" /> 
										<label class="form-check-label" for="weddingring">Wedding Ring</label>
									</div>
								</li>
								<li>
									<div class="form-check">
										<input class="form-check-input" name="contact[Regarding_Jewelry]" type="checkbox" value="Jewelry" id="Jewelry" checked="checked" />
										<label class="form-check-label" for="Jewelry">Jewelry</label>
									</div>
								</li>
								<li>
									<div class="form-check">
										<input class="form-check-input" name="contact[Regarding_Anniversary]" type="checkbox" value="Anniversary" id="Anniversary" /> 
										<label class="form-check-label" for="Anniversary">Anniversary</label>
									</div>
								</li>
								<li>
									<div class="form-check"><input class="form-check-input" name="contact[Regarding_High Jewelry]" type="checkbox" value="" id="highjewelry" / 
									<label class="form-check-label" for="highjewelry">High Jewelry</label></div>
								</li>
								<li>
									<div class="form-check"><input class="form-check-input" name="contact[Regarding_Gift]" type="checkbox" value="Gift" id="Gift" /> <label class="form-check-label" for="Gift">Gift</label></div>
								</li>
								<li>
									<div class="form-check"><input class="form-check-input" name="contact[Regarding_Imperial Jewels]" type="checkbox" id="imperialjewels" value="Imperial Jewels" /> <label class="form-check-label" for="imperialjewels">Imperial Jewels</label></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="field">
				<textarea type="number" name="contact[Client Note]" id="clientnotes" placeholder="Client Notes:" class="field__input"></textarea>
				<label class="field__label" for="clientnotes">Client Notes:</label>
			</div>
			<div class="appointment-page-form-bottom">
				<div>
					<div class="form-check">
						<input class="form-check-input" name="contact[tags]" type="checkbox" value="newsletter" id="signme" /> 
						<label class="form-check-label" for="signme">Please sign me up for the BAYCO newsletter. You may unsubscribe at any time.</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="submitting" /> 
						<label class="form-check-label" for="submitting">
							<span>*</span>* By submitting this form, I have read and agree to the <a href="#">Terms &amp; Conditions</a> of Bayco
						</label>
					</div>
					<button class="button button--primary ttu submit" type="submit">Connect</button>
				</div>
			</div>
		</div>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
